<div class="content-warning">
   <button class="content-warning__trigger" type="button" data-toggle="collapse" data-target="#contentWarning" aria-expanded="false" aria-controls="contentWarning">
     Content warning
   </button>
   <div class="content-warning__warning collapse" id="contentWarning">
     {{ post.content_warning }}
   </div>
</div>
